<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://rest/1.0"
            class="de.van_porten.vrest.ui.properties.rest.providers.RestEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.reststructure.providers.ReststructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.restbehavior.providers.RestbehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.rest.providers.RestPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="RestStructureDiagram.PropertyContributor">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="RestStructureDiagram.PropertyContributor">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="RestStructureDiagram.PropertyContributor">
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.RestApplicationModelFilter"
               id="de.van_porten.vrest.ui.properties.rest.section.RestApplicationModel"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.rest.RestApplicationModel">
             </input>
         </propertySection>
      </propertySections>
   </extension>

 <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://restbehavior/1.0"
            class="de.van_porten.vrest.ui.properties.restbehavior.providers.RestbehaviorEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.reststructure.providers.ReststructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.restbehavior.providers.RestbehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.rest.providers.RestPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="RestResourceStatesDiagram.PropertyContributor">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="RestResourceStatesDiagram.PropertyContributor">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="RestResourceStatesDiagram.PropertyContributor">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.Creator"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.Creator">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.BehaviorSpecification"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.BehaviorSpecification">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.StateFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.State"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.State">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.TransitionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.Transition"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.Transition">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.Condition"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.Condition">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.InternalMessage"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.InternalMessage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.MessageAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.MessageAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ConditionalAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ConditionalAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.CreateAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.CreateAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ListAddAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ListAddAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ListRemoveAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ListRemoveAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ActionSequence"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ActionSequence">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.UpdateAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.UpdateAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ReturnAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ReturnAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.StatusCode"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.StatusCode">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.Metadata"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.Metadata">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.Constant"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.Constant">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.BinaryOperation"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.BinaryOperation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.BinOpType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.BinOpType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.AttributeReference"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.AttributeReference">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.InternalLinkFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.InternalLinkReference"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.InternalLinkReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.MTLinkReference"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.MTLinkReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.MtElementReference"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.MtElementReference">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.DeletedState"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.DeletedState">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ExternalLinkReference"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ExternalLinkReference">
             </input>
         </propertySection>
      </propertySections>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://reststructure/1.0"
            class="de.van_porten.vrest.ui.properties.reststructure.providers.ReststructureEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.reststructure.providers.ReststructurePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.restbehavior.providers.RestbehaviorPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="de.van_porten.vrest.core.model.rest.providers.RestPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="RestStructureDiagram.PropertyContributor">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="RestStructureDiagram.PropertyContributor">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="RestStructureDiagram.PropertyContributor">
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.AttributeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.Attribute"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.Attribute">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.LinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.LinkCollection">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.Parameter"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.Parameter">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.Method"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.Method">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.Representation"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.Representation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.RepresentationElement"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.RepresentationElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MethodType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MethodType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.RelationType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.RelationType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.InternalLinkFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.InternalLink"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.InternalLink">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.ExternalLink"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.ExternalLink">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.ExternalLinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.ExternalLinkCollection">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.InternalLinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.InternalLinkCollection">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.PrimitiveDataType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.PrimitiveDataType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.CollectionType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.CollectionType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.SimpleIdentifier"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.SimpleIdentifier">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.ComplexIdentifierPattern"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.ComplexIdentifierPattern">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaTypeElement"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaTypeElement">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.SubresourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.SubresourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.AggregationResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.AggregationResourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.PrimaryResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.PrimaryResourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.ActivityResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.ActivityResourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.PagingResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.PagingResourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.ProjectionResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.ProjectionResourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.ListResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.ListResourceType">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ResourceTypeFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.FilterResourceType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.FilterResourceType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaTypeLink"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaTypeLink">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaTypeLinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaTypeLinkCollection">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.RepresentationLink"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.RepresentationLink">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.RepresentationLinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.RepresentationLinkCollection">
             </input>
         </propertySection>
      </propertySections>
   </extension>


   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="RestMethodBehaviourDiagram.PropertyContributor">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="RestMethodBehaviourDiagram.PropertyContributor">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="RestMethodBehaviourDiagram.PropertyContributor">
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.MethodFilter"
               id="de.van_porten.vrest.ui.properties.reststructure.section.Method"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.Method">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MethodType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MethodType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.PrimitiveDataType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.PrimitiveDataType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.CollectionType"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.CollectionType">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaTypeElement"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaTypeElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaTypeLink"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaTypeLink">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.MediaTypeLinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.MediaTypeLinkCollection">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.RepresentationLink"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.RepresentationLink">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.reststructure.section.RepresentationLinkCollection"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.reststructure.RepresentationLinkCollection">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.ReturnActionPropertySection"
               filter="de.van_porten.vrest.ui.properties.filter.ReturnActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ReturnAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ReturnAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.StatusCode"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.StatusCode">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.CreateActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.CreateAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.CreateAction">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ListAddActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ListAddAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ListAddAction">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ListRemoveActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ListRemoveAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ListRemoveAction">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.UpdateActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.UpdateAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.UpdateAction">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.MessageActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.MessageAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.MessageAction">
             </input>
         </propertySection>
         <propertySection
               class="de.van_porten.vrest.ui.properties.GraphitiBridgePropertiesEditionSection"
               filter="de.van_porten.vrest.ui.properties.filter.ConditionalActionFilter"
               id="de.van_porten.vrest.ui.properties.restbehavior.section.ConditionalAction"
               tab="Base">
             <input
                    type="de.van_porten.vrest.core.model.restbehavior.ConditionalAction">
             </input>
         </propertySection>
      </propertySections>
   </extension>


</plugin>
