<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Visual REST">
         <property
               name="appName"
               value="Visual REST">
         </property>
         <property
               name="aboutText"
               value="The visual REST graphical editor&#x0A;(c) 2011-2012 Oliver van Porten&#x0A;&#x0A;May contain nuts and bolts.">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="images/about/Box.png">
         </property>
         <property
               name="windowImages"
               value="images/window/box_48x48.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="de.van.porten.vrest.bundle.intro">
      </intro>
      <introProductBinding
            introId="de.van.porten.vrest.bundle.intro"
            productId="de.van_porten.vrest.bundle.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="de.van_porten.vrest.bundle.introConfigId"
            introId="de.van.porten.vrest.bundle.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="de.van_porten.vrest.bundle.splashHandlers.InteractiveSplashHandler"
            id="de.van_porten.vrest.bundle.splashHandlers.interactive">
      </splashHandler>
   </extension>
</plugin>
