<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://rest/1.0"
            class="de.van_porten.vrest.core.model.rest.RestPackage"
            genModel="model/Rest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://reststructure/1.0"
            class="de.van_porten.vrest.core.model.reststructure.RestStructurePackage"
            genModel="model/Rest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://restbehavior/1.0"
            class="de.van_porten.vrest.core.model.restbehavior.RestBehaviorPackage"
            genModel="model/Rest.genmodel"/>
   </extension>

</plugin>
